<!doctype html>
<html>
  <head>
    <title>Employee Information</title>
  </head>
  <body>
    <h1>Employee Information</h1>
    <table>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Birthdate</th>
      </tr>
      {% for employee in employees %}
      <tr>
        <td>{{ employee[0] }}</td>
        <td>{{ employee[1] }}</td>
        <td>{{ employee[2] }}</td>
        <td>{{ employee[3] }}</td>
        <td>{{ employee[4] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
